{% extends 'base.html' %}

{% block title %}Home - DigiAgro{% endblock %}

{% block content %}
    <div class="home-container">
        <h2>Welcome to DigiAgro Field Officer Portal</h2>
        <form action="#">
            <div class="form-group">
                <label for="agro1">Agro 1:</label>
                <input type="text" id="agro1" name="agro1">
            </div>
            <div class="form-group">
                <label for="agro2">Agro 2:</label>
                <input type="text" id="agro2" name="agro2">
            </div>
            <div class="form-group">
                <label for="agro3">Agro 3:</label>
                <input type="text" id="agro3" name="agro3">
            </div>
            <div class="form-group">
                <label for="agro4">Agro 4:</label>
                <input type="text" id="agro4" name="agro4">
            </div>
            <div class="form-group">
                <label for="agro5">Agro 5:</label>
                <input type="text" id="agro5" name="agro5">
            </div>
            <div class="form-group">
                <label for="agro18">Agro 18:</label>
                <input type="text" id="agro18" name="agro18">
            </div>
        </form>
    </div>
{% endblock %}
