{% extends 'base.html' %}

{% block title %}Home - DigiAgro{% endblock %}

{% block content %}
    <div class="home-container">
        <h2>Welcome to DigiAgro Field Officer Portal</h2>
        <form action="#">
            <div class="form-group">
                <label>Agro 1:</label>
                <button onclick="location.href='{{ url_for('agro1_form') }}'">Go to Agro 1</button>
            </div>
            <div class="form-group">
                <label>Agro 2:</label>
                <button onclick="location.href='{{ url_for('agro2_form') }}'">Go to Agro 2</button>
            </div>
            <div class="form-group">
                <label>Agro 3:</label>
                <button onclick="location.href='{{ url_for('agro3_form') }}'">Go to Agro 3</button>
            </div>
            <div class="form-group">
                <label>Agro 4:</label>
                <button onclick="location.href='{{ url_for('agro4_form') }}'">Go to Agro 4</button>
            </div>
            <div class="form-group">
                <label>Agro 5:</label>
                <button onclick="location.href='{{ url_for('agro5_form') }}'">Go to Agro 5</button>
            </div>
            <div class="form-group">
                <label>Agro 18:</label>
                <button onclick="location.href='{{ url_for('agro18_form') }}'">Go to Agro 18</button>
            </div>
        </form>
    </div>
{% endblock %}
